@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    font: 1.6rem sans-serif; 
    font-family: 'Roboto', sans-serif;
    font-size: large;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.6;
    background-color:#fff;
}
h1,h2,h3,h4,ul,ol,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    border-style: none;
}
a {
    text-decoration: none;
    text-transform: none;
    color: #fff;

}
:root{
    
   --color-logo1: #814974;
   --color-logo2: #c5473c;
   --color-logo3: #f46940;
   --color-logo4: #f58a29;
   --color-logo5: #fbc426;
   --color-logo6: #b2da27;
   --color-logo7: #89d4a9;
   --color-logo9: #6376c3;
   --color-logo8: #7ca9de;
   --color-hover: #42414d;
   
}

/* theme */

h1,h2,h3{
    font-family: 'Arial', sans-serif;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: 3px;
}


header h1{
    line-height: 5.0rem;
    text-align: center;
    font-size: 2rem;
    color: #000;
    background-color: var(--color-logo9);
}
header img{
    width: 615px;
    height: 438px;
}
header video{
    background-color: #222;
    /* padding: 1rem; */
    width: 615px;
    height: 438px;
    /* width: calc(100% / 2); */
} 

header ul li{
  display:inline-flex;
  margin: 5rem auto;
}

nav{
   
    background-color: var(--color-logo8);
    position: sticky;
    top: 0;
    z-index: 2;
    cursor: pointer;
    width: 100%;   
    
}
nav ul{
    width: 100rem;
    margin:0 auto;
    font-size: 0;
    
}

nav ul li{
    display: inline-block;
    text-transform: uppercase;
    width: calc(100% / 8.2);
}

nav ul li button{
    display: block;
    text-align: center;
    line-height: 4rem;
    text-transform: uppercase;
    
}
nav button:hover{
    background-color: var(--color-hover);
    border-radius: none;
}

input[type=text] {
    height: 2.5rem;
    /* position: absolute; */
    top: 0.25rem;
    right: 20px;
    font-size: 1.6 rem;
} 
nav button{
    position: relative;
    background-color:var(--color-logo8);
    border-radius: none;
    text-transform: uppercase;
}
button{
    position:absolute;
      /* top: 1rem;  */
    right: 5rem; 
    background-color: var(--color-logo9);
    color: #fff;
    text-align: center; 
     /* width:  20rem;  */
    line-height: 3.5rem;
    /* border-radius: 1rem; */
    border: none;
    cursor: pointer;
}
main{
    background-color: var(--color-logo6);
}
figure{
    position: relative;
    background-color: var(--color-logo5); 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 20rem auto;
    border-radius: 0.4rem;
    padding: 1rem;
    
}

figure figcaption{
    padding-left: 1rem;
    
}

figure figcaption h2{
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 2rem;
    font-weight: 100;
}

figure figcaption p{
   font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

figure figcaption ul{
    margin-bottom: 2rem;
}

figure figcaption ul li{
        font-weight: 100;
        line-height: 2.5rem;
}

figure img{
    width: calc(100% ); /*modifier taille de l'image */
}
main figure button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--color-logo4);
    color: #ffffff;
    text-align: center; 
    width:  20rem;
    line-height: 3.5rem;
    /* border-radius: 0.4rem; */
    border: none;
    cursor: pointer;
    }

main figure button .material-symbols-outlined{
    color: #fff;
    vertical-align: middle;
}

footer{
    text-align: center;
    background-color: var(--color-logo1);
    color: #fff;
    font-size: larger;
}
footer ul li{
    display: inline-block;
    width: calc(100% / 3.5);
   
}
@media screen and ( max-width: 970px)
{
    nav{
        position: relative;
    }
    nav ul li {
       width: 100%;
       
    }
    nav ul li a{
        margin-left: 30px;
        text-align: left;
     }
    
}

 
